* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Default styles */
/* We declare some default styles
 in order not to repeat them for each 
 element in case we want the same styling */
header {
  margin-bottom: 40px;
}

section {
  margin-bottom: 40px;
  padding: 0 5px;
}

/* Default styles end */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.logo .image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  float: left;
  padding: 10px;
  margin-top: 10px;
}

.logo {
  text-transform: uppercase;
  background-color: whitesmoke;
  width: 200px;
}

.logo .text1 {
  margin-top: 10px;
  display: block;
  font-size: 1.16rem;
}

.logo .text2 {
  display: block;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #e5ae8c;
  margin-top: -10px;
}

.unorder {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto 10px;
}

.unorder li {
  margin-right: 10px;
  text-transform: uppercase;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: blue;
}

.hero {
  height: 400px;
  background-color: grey;
}

.hero img {
  height: 400px;
  width: 100%;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

/* ------ */

/* about */
.about {
  text-align: center;
}

.about p {
  max-width: 700px;
  margin: auto;
}

/* farm */
.farm {
  text-align: center;
}

.farm .container {
  /* We use 1fr column in order to be full screen width for the mobile view. Later on we will increase columns for desktop view */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.farm .container .box {
  width: 100%;
  background-color: gray;
  height: 300px;
}

/* alpacas */
.alpacas .container {
  /* we add flex container because later in desktop 
  view we need alpacas to be in one row. So for mobile
  view we use flex-direction: column */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.alpacas .container .alpaca {
  /*   this will center ALL texts in the container
 */
  text-align: center;
}

.alpacas .container .alpaca .circle {
  /* styling for each circle */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 10px;
}

.alpacas .container .alpaca .circle img {
  border-radius: 50%;
}

.alpacas .container .alpaca .name {
  font-size: 18px;
}

/* guided tours section */
.guided-tours {
  background-color: whitesmoke;
  padding: 60px 25px 80px;
}

.guided-tours .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.guided-tours .container .card {
  background-color: white;
  padding: 15px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.guided-tours .container .card .position {
  position: absolute;
  margin: 50px 0px 50px -20px;
  color: white;
  background-color: black;
  font-size: small;
  font-weight: 600;
}

.guided-tours .container .card .content {
  background-color: white;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.guided-tours .container .card .content p {
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 32px;
}

.guided-tours .container .card button {
  outline: none;
  background-color: #e5ae8c;
  border: none;
  padding: 12px 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

.guided-tours .container .card button:hover {
  cursor: pointer;
  color: #000;
  transform: scale(1.005);
}

.accomodation .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accomodation .container .card {
  background-color: white;
  padding: 15px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.accomodation .container .card .image {
  height: 200px;
  width: 100%;
  background-color: gray;
}

.accomodation .container .card .content {
  padding: 15px;
  text-align: center;
  justify-content: space-between;
}

.accomodation .container .card .content p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #818181;
}

.booking-p {
  margin: 30px 28px;
  text-align: center;
  line-height: 30px;
}

.accomodation h4 {
  text-align: center;
  margin-bottom: 10px;
}

.accomodation-button {
  display: block;
  outline: none;
  background-color: #e5ae8c;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  margin: 3rem auto;
  align-self: center;
  cursor: pointer;
  width: 300px;
}

.accomodation-button:hover {
  cursor: pointer;
  color: #000;
  transform: scale(1.005);
}

.contact .form {
  display: flex;
  flex-direction: column;
  background-color: #9c9c9c10;
  padding: 30px;
  max-width: 100%;
  margin: 0 20px;
  border-radius: 10px;
}

.form label {
  display: block;
  margin: 10px 0 0 5px;
}
input {
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

textarea {
  padding: 30px;
  height: 200px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.contact-button {
  display: block;
  outline: none;
  background-color: #e5ae8c;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
  margin: 3rem auto;
  align-self: center;
  cursor: pointer;
  width: 300px;
}

.contact-button:hover {
  cursor: pointer;
  color: #000;
  transform: scale(1.005);
}

.top {
  display: block;
  margin: 30px 50%;
}

/* TODO: i need to write media query for desktop view*/

@media (min-width: 800px) {
  .hero {
    height: 700px;
  }

  .hero img {
    height: 700px;
    width: 100%;
  }

  .accomodation .container .card .image {
    height: 500px;
    width: 100%;
  }
}
